{% extends "./base.html" %}

{% block body %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Lista de citas:</title>
</head>
<body>

<table class="table table-striped" style="background-color: rgb(255, 255, 255);">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre Paciente</th>
            <th>Nombre Doctor</th>
            <th>Fecha y Hora</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.nombre_paciente }}</td>
            <td>{{ usuario.nombre_doc }}</td>
            <td>{{ fechayhora }}</td>
            <td>
                <a href="{% url 'eliminar_cita' usuario.nombre_paciente %}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'forms' %}" class="btn btn-primary">Agregar</a>
    
</body>
</html>

{% endblock %}
